In [1]:
import mysql.connector as connector

In [2]:
connection = connector.connect(user = "meta_db_engineer_capstone", 
                               password = "",
                               db = "littlelemondb" )

In [3]:
show_tables_query = "SHOW tables"

In [4]:
cursor = connection.cursor()

In [5]:
cursor.execute(show_tables_query)

In [6]:
results = cursor.fetchall()

In [7]:
for r in results:
    print(r)

('addresses',)
('bookings',)
('cuisines',)
('customers',)
('deliveries',)
('menu',)
('menu_items',)
('orders',)
('ordersview',)
('staff',)
('staff_roles',)
('status',)

In [8]:
customers_w_orders = """SELECT DISTINCT name,
                                      phone
                      FROM orders
                      LEFT JOIN customers ON orders.customer_id = orders.customer_id
                      WHERE total_cost >= 60"""

In [9]:
cursor = connection.cursor()

In [10]:
cursor.execute(customers_w_orders)

In [11]:
results = cursor.fetchall()

In [12]:
for r in results:
    print(r)

('Hank Purple', '555-5432')
('Grace Red', '555-4321')
('Frank Blue', '555-3210')
('Ella Green', '555-0987')
('David White', '555-6543')
('Charlie Black', '555-7890')
('Bob Brown', '555-3456')
('Alice Johnson', '555-8765')
('Jane Smith', '555-5678')
('John Doe', '555-1234')